html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {

  font-family: serif;

}

.flex-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}

a {
  text-decoration: none;
  color: #000000;
}

/* .svg-icon{
  margin-right: 60px;
} */


.header1 {
  font-size: 14px;
  line-height: 15.61px;
  size: 14px;
  font-family: Comfortaa;
}

.button {

  margin-top: 20px;
}

.menue {
  padding: 0px 40px 0px 0px;
  font-size: 18px;
}

.menue:hover {
  font-weight: bold;
  color: #912A66;
}

@media screen and (max-width: 700px) {


  /* .svg-icon {
    margin-right: 20px;
  } */

  .logo {
    width: 80px;
  }

  .header1 {
    font-size: 12px;
    line-height: 14px;
  }

  .button {
    margin-top: 10px;
  }

  .menue {
    padding: 0px 20px 0px 0px;
    font-size: 16px;
  }
}

.Banner img {
  width: 100%;
  height: auto;
}

.imgsize {
  width: 100%;
  height: auto;
}

.Banner {
  position: relative;
  flex-wrap: wrap;
}

.Banner-txt {
  position: absolute;
  top: 20%;
  right: 8%;
  text-align: center;

  color: #575454;

}

.banner-txt1-font1 {
  font-family: KoHo;
  font-size: 50px;
  line-height: 60px;
  color: #912A66;
  text-align: center;
}

.banner-txt1-font2 {
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center
}

.banner-txt1-font2 {
  color: #575454;
  text-align: center;
  padding: 20px;
}


@media screen and (max-width: 999px) {
  .Banner {
    flex-direction: row;
  }

  .imgsize {
    width: 100%;
    height: auto;
  }

  .Banner-txt {

    position: static;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;

  }

  .box {
    width: 320px !important;
  }


  .banner-txt1-font1,
  .banner-txt1-font2 {
    text-align: left;
    margin: 0;
  }

  .banner-txt1-font2 {
    padding: 20px 0;
  }

  .banner-txt1-font1 {
    font-size: 35px;
    line-height: 42px;
  }

  /* .Banner img {
    width: 70%; 
    margin-right: 30px; 
  } */
}

.button-shopnow {
  background-color: #912A66;
  color: white;
  padding: 17px 58px;
  border-radius: 15px;
  align-items: center;
  border: none;
}

.button-shopnow:hover {
  color: #912A66;
  border: 2px solid #912A66;
  background-color: #ffffff;
  cursor: pointer;

}

.box {
  width: 393px;
  height: 91px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
  margin-bottom: 15px;
}

.box {
  display: flex;

}

.topP {
  font-family: Comfortaa;
  font-size: 20px;
  width: 500;
  line-height: 20.2px;
  align-items: center
}

.font1-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;



}

.topP {
  color: #575454;
  margin: -1px;

}

.btnP {
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center;
  color: #575454;
  padding-bottom: 7px;

}

.imgvan img {
  width: 40px;
  height: 40px;
  margin: 25px;
}

.icons {
  padding: 50px 0;

}

.btxt {
  font-family: Coiny;
  font-size: 32px;
  width: 400;
  line-height: 38.4px;
  align-items: center
}

.btxt {
  color: #575454;
  ;
}

.txt {
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center;
  color: #575454;
  
}

.txt1-2 {
  text-align: center;
  padding-bottom: 71px;
}

.box2 {
  width: 310px;
  height: 290px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
  position: relative;
  transition: 0.2s;
}

.box2:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.price {
  display: flex;
  margin-left: -6px;

}

.bprice {
  font-family: Poppins;
  font-size: 13px;
  width: 600;
  line-height: 13px;
  align-items: center
}

.bprice {
  color: #912A66;
  padding-left: 110px;



}

.lprice {
  font-family: Poppins;
  font-size: 11px;
  width: 600;
  line-height: 11px;
  padding-top: 3px;
  padding-left: 5px;



}

.lprice {
  color: #A69E9E;
  text-decoration: line-through;

}

.namep {
  font-family: Comfortaa;
  font-size: 16px;
  width: 600;
  line-height: 19.2px;
  text-align: center;
  color: #575454;
  margin-top: -19px;
}

.star1 {
  padding-left: 97px;
  margin-bottom: -13px;
  margin-left: 0px;
  margin-top: -15px;
}

.sale {

  position: absolute;
  left: 12px;
  top: 12px;
}

.product-img:hover {
  transform: scale(1.1);
  transition: 1.0s;

}

.product-img {
  transition: 1.0ss;
}

.product-img3:hover {
  transform: scale(1.1);
  transition: 1.0s;

}

.product-img3 {
  transition: 1.0s;
}

.product-img1 {
  transform: scale(1.1);
  transition: 1.0s;

}

.product-img1 :hover {
  transform: scale(1.1);
  transition: 1.0s;
}

.sale2 {
  position: relative;
  top: 12px;
}

.four-item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.four-item-two {
  padding-top: 35px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 71px;
  flex-wrap: wrap;
}

.bprice3 {
  padding-left: 131px;
  color: #912A66;
  bottom: 10px;

}

.bprice4 {
  padding-left: 20px;
}

.del {
  color: #575454;
  font-family: Coiny;
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
  color: #575454;
  padding-top: 50px;


}

.border {
  border-top: 1px dotted;
  color: #575454;
  width: 95px;
  height: 252px;
  gap: 49px;
  position: relative;
  left: 0px;
  right: 0px;
  margin: auto;

}

.off {
  font-family: Coiny;
  font-size: 50px;
  width: 400;
  line-height: 45px;
  text-align: center;
  color: #912A66;
  margin-top: -224px;
  padding-bottom: 40px;

}

.underoff {
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  padding-left: 20px;
  color: #575454;
  margin-top: -26px
}

.underoff {
  text-align: center;
}

.colorbk {

  background-color: #E5EDE7;
  padding-bottom: 84px;
  flex-wrap: wrap;
  width: 100%;
}

.box3 {
  width: 295px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
  background-color: #ffffff;

}

.box3:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.threeit {
  display: flex;
  justify-content: space-evenly;
}

.bprice5 {
  padding-left: 135px;
  color: #912A66;
  padding-top: 20px;
}

.box3a {
  width: 295px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
  background-color: #ffffff;
}

.box3a:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.bprice6 {
  color: #912A66;
  padding-left: 110px;
  align-items: center;
  padding-left: 124px;
}

.Shop {

  border: none;
  background-color: #912A66;
  color: #ffffff;
  width: 190px;
  height: 48px;
  border-radius: 15px;
 margin: 20px auto;
 display: block;

}

.Shop:hover {
  color: #912A66;
  border: 2px solid #912A66;
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .colorbk {
    padding-bottom: 40px;
  }

  .box3,
  .box3a {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .threeit {
    flex-direction: column;
    align-items: center;
  }

  .bprice5,
  .bprice6 {
    padding-left: 0;
    text-align: center;
  }

  .Shop {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
}

.baby1 img {
  width: 350px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 20px;

}

.baby4 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-top: 100px;
}

@media screen and (min-width:1415px) {
  .mar-top-neg {
    margin-top: -80px;
  }

}

.baby3 {
  margin-top: 143px;

}



.news {
  font-family: Coiny;
  font-size: 32px;
  align-items: center;
  text-align: center;
  line-height: 38.4px;
  color: #575454;
  margin-top: -26px
}

.OFF15 {
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center;
  color: #575454;
  text-align: center;
}

.email {
  background-color: #912A66;
  color: white;
  padding: 17px 58px;
  border-radius: 35px;
  border: none;
}

.join {
  background-color: #ffffff;
  color: rgb(91, 91, 91);
  padding: 18px 188px;
  border-radius: 35px;
  border: solid 1px #912A66
}

.emmail {
  padding-left: 324px;
}

.buuton {
  display: flex;
  padding-left: 20px;
  margin-left: 270px;

}

.bkg {
  background-color: #E5EDE7;
  padding-top: 71px;
  padding-bottom: 71px;
  flex-direction: column;
  align-items: center;
}

.contact {
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 28px;

  color: #575454;
  text-align: start;
  align-items: start;
}

.icone {
  display: flex;
  padding-top: 40px;
  margin-top: 20px;

}

.Twitter {
  margin-left: 20px;
  margin-right: 20px;
}

.link {
  font-family: Comfortaa;
  font-size: 18px;
  width: 700;
  line-height: 18px;

  color: #575454;
  text-align: center;
  align-items: start;
}

.rell {
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 36.4px;

  color: #575454;
  text-align: center;
  align-items: start;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.logof {
  width: 100px;
position:  relative;
right: 660px;
}

.linkrell {
  margin-top: -120px;
}

@media screen and (max-width: 720px) {

  .contact,
  .link,
  .rell {
    width: 100%;
    text-align: center;
  }

  .link {
    font-size: 16px;
    line-height: 25px;
  }

  .icone {
    align-items: center;

  }

  .Twitter {
    margin: 30px 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .logof {
    margin-bottom: 20px;
    right: 38px;
  }

  .linkrell {
    margin-top: 10px;
  }
}



@font-face {
  font-family: Comfortaa;
  src: url(/assets/font/comfortaa/Comfortaa-Light.ttf), url(/assets/font/comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
  font-family: Coiny;
  src: url(/assets/font/Coiny/Coiny-Regular.ttf);
}

@font-face {
  font-family: KoHo;
  src: url(/assets/font/koho/KoHo-BoldItalic.ttf), url(/assets/font/koho/KoHo-Medium.ttf);
}

.stars {
  display: flex;
}

.stars svg {

  fill: #f8e008;
  stroke: #ffe600;
  width: 20px;
  height: 20px;
  stroke: none;
  position: relative;
  left: 30%;

}


/* @media [not only] <media type> and media condition

all
print
speech
screen

min-width: 787px 
max-width: 787px

0  200 787 900 ...


mobile phones  480PX

tablet 769px

large screen 1280px */

/* 

@media screen and (max-width:480px){
  
body{
  background-color: red;
}

} */


.email-input {
  border-radius: 35px;
  width: 100%;
  margin: auto;
  padding: 18px;
  border: 1px solid #912a66;
}

.form-relative {
  position: relative;
  width: 63%;
}

.Join {
  position: absolute;
  color: #ffffff;
  background: #912a66;
  padding: 19px 40px;
  border: none;
  border-radius: 30px;
  right: 0;
  /* margin-left: -109px; */
  right: -40px;
  top: 0px;

}



@media screen and (max-width: 998px) {

  .header1 {
    display: none;
  }

}

@media screen and (min-width: 998px) {

.menu-ham{
  display: none;
}

}