body{

  font-family: serif;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}

.logo{
  width: 100px;
}


.imgsize{
  position: relative;
}



a{
  text-decoration: none;
}
.header1{
  font-size: 14px;
  line-height: 15.61px;
  size: 14px;
  font-family: Comfortaa;
}
.button{
  
    margin-top: 20px;
  }

  .menue {
    padding: 0px 40px 0px 0px;
  }
.Banner img{
  width: 100%;
  height: auto;
}
.Banner{
  position: relative;
}
.Banner-txt{
  position: absolute;
  right: 5%;
  top: 20%;
  /* padding-left: 1150px; */
  color: #575454;
  text-align: center;
  
}
.banner-txt1-font1{
  font-family: KoHo;
  font-size: 50px;
  width: 400;
  line-height: 60px;
  align-items: center
  
  
}
.banner-txt1-font1{
  color: #912A66;
  text-align: center;
}
.banner-txt1-font2{
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center
  
  
}
.banner-txt1-font2{
  color: #575454;
  text-align: center;
}
.button-shopnow{
  border: none;
  background: none;
}

.button-shopnow{
  background-color: #912A66;
  color: white;
  padding: 17px 58px;
  border-radius: 15px;
  align-items: center;
  
}
.box
{
  width: 393px;
  height: 91px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
  padding: 0px 50px 0px 0px;
  
 
}
.box{
  display: flex;
  
}
.topP{ 
   font-family: Comfortaa;
  font-size: 20px;
  width: 500;
  line-height: 20.2px;
  align-items: center
  
  
}
.font1-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  
  
}
.topP{
color: #575454;
margin: -1px;

}
.btnP{
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center;
  color: #575454;
  padding-bottom: 7px;

}
.imgvan img{
  width: 40px;
  height: 40px;
  margin: 25px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.btxt{
  font-family: Coiny;
  font-size: 32px;
  width: 400;
  line-height: 38.4px;
  align-items: center
  

 
}
.btxt{
  color:  #575454;
  ;
}
.txt{
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center;
  color: #575454;
  margin-top: -26px
  
}
.txt1-2{
  text-align: center;
  padding-bottom: 71px;
}
.box2{
  width:  295px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
}
.price{
  display: flex;
  margin-left: -6px;

}
.bprice{
  font-family: Poppins;
  font-size: 13px;
  width: 600;
  line-height: 13px;
  align-items: center
}
.bprice{
  color: #912A66;
  padding-left: 110px;
  
  

}
.lprice{
  font-family: Poppins;
  font-size: 11px;
  width: 600;
  line-height: 11px;
  padding-top: 3px;
  padding-left: 5px;
  


}
.lprice{
  color: #A69E9E
  ;
  text-decoration: line-through;

}
.namep{
  font-family: Comfortaa;
  font-size: 16px;
  width: 600;
  line-height: 19.2px;
  text-align: center;
  color: #575454;
  margin-top: -19px;
}
.star1{
  padding-left: 97px;
  margin-bottom: -13px;
  margin-left: 0px;
  margin-top: -15px;
}
.sale{
  padding-left: 30px;
  padding-top: 30px;
}
.product-img{
  margin-top: -9px;
}
.four-item{
  display: flex;
  justify-content: space-evenly;
}
.four-item-two{
  padding-top: 35px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 71px;
}
.product-img3{
  padding-top: 40px
  ;
}
.bprice3{
  padding-left: 135px;
  color: #912A66;
  padding-top: 20px;
}
.bprice4{
  padding-left: 20px;
}
.del{
  color: #575454;
  font-family: Coiny;
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
  color: #575454;
  padding-top: 50px;
  
  
}
.border{
  border-top: 1px dotted ;
  color: #575454;
  width: 95px;
  height: 252px;
  gap: 49px
  ;
  margin-left: 900px;
  margin-top: -19px;

}
.off{
  font-family: Coiny;
  font-size: 50px;
  width: 400;
  line-height: 45px;
  text-align: center;
  color: #912A66;
  margin-top: -224px;
  
}
.underoff{
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  padding-left:20px;
  color: #575454;
  margin-top: -26px
}
.underoff{
text-align: center;
}
.colorbk{
  
  background-color: #E5EDE7;
  padding-bottom: 84px;
}
.box3{
  width:  295px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
  background-color: #ffffff;
}
.threeit{
  display: flex;
  justify-content: space-evenly;
}
.bprice5{
  padding-left: 135px;
  color: #912A66;
  padding-top: 20px;
}
.box3a{
  width:  295px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid #FBD3E9;
  background-color: #ffffff;
}
.product-img1{
  padding-top: 48px;

}
.bprice6{
  color: #912A66;
  padding-left: 110px;
  align-items: center;
  padding-left: 135px;
}
.Shop{
 
  border: none;
  background-color: #912A66;
  color: #ffffff;
  width: 190px;
  height: 48px;
  border-radius: 24px ;
  MARGIN-LEFT: 852PX;
  MARGIN-TOP: 20PX;

}
.baby1 img{
  width: 350px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 20px;

}
  .baby4{
   display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
   margin-bottom: 40px;
  }
  .baby3{
    margin-top: 143px;
    
  }
.news{
  font-family: Coiny;
  font-size: 32px;
  align-items: center;
  text-align: center;
  
  line-height: 38.4px;
  
  color: #575454;
  margin-top: -26px
  
}
.OFF15{
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 18.2px;
  align-items: center;
  color: #575454;
  text-align: center;
}
.email{
  background-color: #912A66;
  color: white;
  padding: 17px 58px;
  border-radius: 35px;
  border: none

  ;
 
  
}
.join{
  background-color: #ffffff;
  color: rgb(91, 91, 91);
  padding: 18px 188px;
  border-radius: 35px;
  border: solid 1px #912A66
}
.emmail{
  padding-left: 324px;
}
.buuton{
  display: flex;
 padding-left: 20px;
 margin-left: 270px;
 
}
.bkg{
  background-color: #E5EDE7;
  padding-top: 71px;
  padding-bottom: 71px;
  
}
.contact{
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 28px;
  
  color: #575454;
 text-align: start;
 align-items: start;
}
.icone{
  display: flex;
  padding-top: 30px;
  
}
.Twitter{
  margin-left: 20px;
  margin-right: 20px;
}
.link{
  font-family: Comfortaa;
  font-size: 18px;
  width: 700;
  line-height: 18px;
  
  color: #575454;
 text-align: center;
 align-items: start;
}
.rell{
  font-family: Comfortaa;
  font-size: 14px;
  width: 400;
  line-height: 36.4px;
  
  color: #575454;
 text-align: center;
 align-items: start;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.logof{
  margin-left: 280px;
  margin-top: 37px;
}
.linkrell{
  margin-top: -120px;
}